
p {
    margin: 30px;
}
.box{
    height: 200px;
    width: 200px;
    background: blue;
    margin: 10px;

}



.flex {
    margin: 30px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column-wrap;
    padding: 100px;
}

@keyframes fadeMe {
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

#box1{
    animation-name: fadeMe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes rotate {
    0%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#box2{
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: 10;
    animation-timing-function: linear;
    border-radius: 10%;
    background-image: radial-gradient(circle, purple, orange, yellow, pink, purple);
}

@keyframes getBigger{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(.5);
    }
}

#box3{
    animation: getBigger 6s 8 ease-in;
    border-radius: 50%;
    background:orange;
}

@keyframes changeColor {
    0%{ background-color: grey;}
    25%{ background-color: purple;}
    50%{ background-color: yellow;}
    75%{ background-color: pink;}
    100%{ background-color: gray;}
}

#box4{
    animation: changeColor 6s infinite;
}

@keyframes moveBox {
    0%{left: 0px; top: 0px;}
    25%{left: 100px; top: 0px;}
    50%{left: 100px; top: 200px;}
    75%{left: 0px; top: 200px;}
    100%{left: 0px; top: 0px;}

}

#box5{
    animation: moveBox 5s 3;
    background: red;
    position: relative;
}

#box6{
    top: 100px;
    left: 200px;
    position: relative;
}
html{
    /* background-image: url(kitten1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: radial-gradient(rgb(212, 212, 218), rgb(196, 224, 196), rgb(247, 242, 247));
        */
}

form input, textarea, button{
    display: block; 
    margin: 20px;
}
.nav-wrapper{
    background-color: blue;
}
.contact-box{
    display: flex;
    justify-content: center;
}

.row{
    margin: 30px;

}

.input-field{
    margin: 20px;
}

.wrapper {
    margin:30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: #fff;
    color: #444;
  }

  .Box {
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;

  }

  .a {
    grid-column: col / span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
  }
  .b {
    grid-column: col 4 / span  3 ;
    grid-row: row ;
    display: flex;
    justify-content: center;
  }
  .c {
    grid-column: col / span 5;
    grid-row: row 2 ;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(pink, yellow, purple, orange);
  }
  .d {
    grid-column: col / span  3 ;
    grid-row: row 3 ;
    display: flex;
    justify-content: center;
  }

  .e {
    grid-column: col 3 / span  3;
    grid-row: row 3;
    display: flex;
    justify-content: center;
  }

  .f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(orange, purple, yellow, pink);
  }

/* .center-wr {
    width: 1200px;
    margin: 0 auto;

    
}

.content-box {
    display: inline-block;
    width: 33%;
    text-align: center;
    background-color: #91d093;
    color: #fff;
}
.content-box:nth-child(3) {
    background-color: #7070be;
    color: #eefa03;
} */

